.navbar {
  width: 80%;
  height: 110px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.navbar img {
  width: 100px;
  height: 100px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.links a {
  padding: 15px;
  text-decoration: none;
}
.logo {
  display: flex;
  flex: 1;
  align-items: center;
}
